.item-details-modal{
    .x-btn{
        align-self:flex-end;
        justify-self: flex-start;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    z-index: 20;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width:50vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 0 0 200px  rgba(128, 128, 128, 0.422);
}