@font-face {
    font-family: caveat;
    src: url(src/assets/fonts/Caveat/Caveat-Regular.ttf);
    font-display: swap;

}

@font-face {
    font-family: lato;
    src: url(src/assets/fonts/Lato/Lato-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url(src/assets/fonts/Montserrat/Montserrat-Medium.ttf);
    font-display: swap;

}